backend/api/__pycache__/database.cpython-312.pyc
backend/api/__pycache__/JWT_config.cpython-312.pyc
backend/api/__pycache__/main.cpython-312.pyc
backend/api/__pycache__/model.cpython-312.pyc
backend/api/__pycache__/test.cpython-312.pyc
